<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appid" data-rule="required" class="form-control" name="row[appid]" type="text" value="{$row.appid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appkey')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appkey" data-rule="required" class="form-control" name="row[appkey]" type="text" value="{$row.appkey}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bind_domain')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bind_domain" data-rule="required" class="form-control" name="row[bind_domain]" type="text" value="{$row.bind_domain}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_use')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_use]', [0=>__('Is_use_0'), 1=>__('Is_use_1')],$row.is_use)}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
