<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statistics')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statistics" data-rule="required" class="form-control" name="row[statistics]" type="text" value="{$row.statistics}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Destination_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-destination_url" data-rule="required" class="form-control" name="row[destination_url]" type="text" value="{$row.destination_url}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Show_times')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-show_times" data-rule="required" class="form-control" name="row[show_times]" type="number" value="{$row.show_times}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_show')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_show]', [0=>__('Is_show_0'), 1=>__('Is_show_1')],$row.is_show)}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
