<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Video_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-video_title" data-rule="required" class="form-control" name="row[video_title]" type="text" value="{$row.video_title}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2">{:__('Thumb_pic')}:</label>
        <div class="col-xs-10 col-sm-8">
            <div class="input-group">
                <input id="c-thumb_pic" data-rule="required" class="form-control" size="50" name="row[thumb_pic]" type="text" value="{$row.thumb_pic}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-thumb_pic" class="btn btn-danger plupload" data-input-id="c-thumb_pic" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-thumb_pic"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-thumb_pic" class="btn btn-primary fachoose" data-input-id="c-thumb_pic" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-goods_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-thumb_pic"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Video_src')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-video_src" data-rule="required" class="form-control" name="row[video_src]" type="text" value="{$row.video_src}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Share_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-share_time" data-rule="required" class="form-control" name="row[share_time]" type="text" value="{$row.share_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_show')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_show]', [0=>__('Is_show_0'), 1=>__('Is_show_1')],$row.is_show)}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
