<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Domain')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-domain" data-rule="required" class="form-control" name="row[url]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('domain_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[domain_type]', [0=>__('domain_type_0'), 1=>__('domain_type_1')])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shielding')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[shielding]', [0=>__('Shielding_0'), 1=>__('Shielding_1')])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Use_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[use_status]', [0=>__('Use_status_0'), 1=>__('Use_status_1')])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
